body {
    font-family: palatino, palatino linotype, georgia, serif;
    font-size: em;
    text-align: center;
}

.content {
    text-align: left;
	margin-left: 1em;
}

.header {
	margin-left: 1em;
	margin-right: 1em;	
	text-align: right;		
}

.footer {
	border-top: 1px solid silver;
	margin-left: 1em;
	margin-right: 1em;	
	text-align: right;	
}
.code {
    font-family: monaco, consolas, andale mono, lucidatypewriter, monospace;
    float: left;
    white-space: pre;
    font-size: 6pt;
    background-color: #f0f0f0;
}


